*.o
.deps/
.dirstamp
/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/confdefs.h
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/conftest.*
/depcomp
/install-sh
/linux/minidlna.init.d.script
/m4/
/minidlnad
/missing
/mkinstalldirs
/po/*.gmo
/po/Makefile
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-po
/stamp-h1
/testupnpdescgen
Makefile
Makefile.in
